cycler==0.10.0
jupyter-client==6.0.0
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
kiwisolver==1.2.0
matplotlib==3.2.1
monotonic==1.5
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.4
paramiko==2.6.0
scikit-learn==0.23.1
scipy==1.5.1
six==1.14.0
sklearn==0.0
